body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-sidebar-container{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 50rem;

}

aside{
    background-color: rgb(132, 218, 218);
}

main{
    background-color: antiquewhite;
}

header{
    padding: 1rem;
    background-color: beige;

}

